@model ApplicationCore.Models.MovieCardModel

<div class="col-xl-2 col-lg-3 col-md-3 col-6 mb-4">
    <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Id">
        <img src="@Model.PosterURL" alt="@Model.Title"/>
    </a>
</div>